<html>
<div class="body" style="padding-left: 20%;padding-right: 20%;">
    <div>
    	<div class="header" style="padding: 20px;background-color: rgb(200, 200, 200);font: 600 32px 'sans-serif';">
          <img src="https://i1.wp.com/community.nodemailer.com/wp-content/uploads/2015/10/n2-2.png?w=422&ssl=1" height="100px">
          <p style="margin: 0;margin-top: 20px;">{{subject}}</p>
        </div>
        <div class="content" style="background-color: rgb(235, 235, 235);">
        	<p style="margin: 0;padding: 20px;font: 500 26px 'sans-serif';">Enviado por: {{name}}</p>
            <div style="margin: 0;padding: 20px;font: 400 22px 'sans-serif';">
            {{content}}
            </div>
        </div>
        <div class="footer" style="padding: 20px;background-color: rgb(200, 200, 200);font: 500 26px 'sans-serif';">
        <br>
        	Telefone: {{phone}}
            Email: {{by}}
        </div>
    </div>
</div>
</html>