<html>
<div style="padding-left: 20%;padding-right: 20%;">
    <div>
    	<div style="padding: 20px;background-color: #8ad6dd;font: 600 32px 'sans-serif';">
          <img src="https://user-images.githubusercontent.com/34722198/130988336-b4796230-c99b-4bd0-9043-b084af67d360.png" height="90px">
          <p style="margin: 0;margin-top: 20px;">{{subject}}</p>
        </div>
        <div style="background-color: #e5fffc;">
        	<p style="margin: 0;padding: 20px;font: 500 26px 'sans-serif';">Enviado por: {{name}}</p>
            <div style="margin: 0;padding: 20px;font: 400 22px 'sans-serif';">
            {{content}}
            </div>
        </div>
        <div style="padding: 20px;background-color: #d6eaee;font: 500 26px 'sans-serif';">
        <br>
        	<p style="margin: 0;">Telefone: {{phone}}</p>
            <p>Email: {{by}}</p>
        </div>
    </div>
</div>
</html>